
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik',
    sans-serif;

}
body{
    overflow-x: hidden;
}
 .header {
     color: #23225c;
     text-align: center;
     margin-block: 20px;
     font-size: 25px;
     padding: 15px;
 }

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
   

    .card {
        border-radius: 10px;
        width:400px;
        background-color: #dbe7f0;
       border: gray .5px solid;
        color: #23225c;
        padding:10px;
        -webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.50);
        -moz-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.50);
        box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.50);
        padding-block: 20px;
        margin: 20px;

.flag{
    width: 100%;
}
img{
width: 100%;
height: 300px;
border-radius: 8px;
margin-block: 10px;

}

.tag1{
    margin-top: 10px;
    color: #eef7fe;
    background-color: #23225c;
    border-radius: 10px;
    padding: 8px;
    font-weight: 900;
   
   
    
}
.tag{
    color: #eef7fe;
    background-color: #23225c;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 10px;
   
    
}
    }
}